#about
  width 95%
  margin 0 auto
  
  .line
    width 100%
    margin 5px auto
    @media mini
      width 10em
      float left
      position relative

  .author
    margin 0 auto
    width w=(110/16)em
    height w
    background no-repeat url(image-face) left top
    background-size w w
    border-radius (w/2)
    transition transform 2s ease-out
    &:hover
      transform rotateZ(360deg)
    @media mini
      position: absolute;
      top 6em
      margin 0 0 1.5em

  ul
    list-style-type none
    li
      cursor pointer
      line-height 32px
      height 32px
      padding-left 12px
      &:hover
        background-color #fbf4f4
      &:hover i
        font-size 24px
        vertical-align middle
      i
        width 32px
        display inline-block
        text-align center
        vertical-align baseline
        font-family font-icon
        font-style normal
      i.mail
        &:before
          content '\f0e0'
      i.github
        &:before
          content '\f113'
      strong
        border-bottom 1px dotted
        &:hover
          border-bottom 1px solid
      a
        color color-meta
        text-decoration none
