.tag
  overflow hidden
  li
    line-height 28px
  a
    padding 3px 6px
    margin 2px
    background #eee
    text-decoration none
    border-radius 3px
    border 1px dashed #ccc
    span
      vertical-align super
      font-size 0.8em
    &:hover
      background-color #e5e5e5
